
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  height: 100vh;
}

.root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  max-width: 310px;
  width: 100vw;
  text-align: center;
  padding: 35px 15px;
  border-radius: 12px;
  background-color: #292929;
  box-shadow: rgba(163, 177, 189, .6) 3px 3px 6px 0px inset, rgba(255, 255, 255, .3) -3px -3px 6px 1px inset;
  animation: fadeIn .5s ease-in;
}

.title {
  color: white;
  position: absolute;
  top: 14px;
  left: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title::after {
  content: " . . . ";
  position: relative;
  top: -1px;
  left: 60px;
  opacity: .3;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.screen {
  color: rgb(156, 180, 180);
  height: 70px;
  margin-bottom: 10px;
  line-height: 70px;
  font-size: 55px;
  border-radius: 2px;
  text-align: end;
  padding: 0 10px;
  overflow: hidden;
  font-family: sans-serif;
  transform: all .8s;
  position: relative;
  text-align: end;
}

.welcome-msg, .value {
  position: absolute;
  top: 0;
  left: 0;
}

.welcome-msg {
  font-size: 40px;
  transform: translateX(-250px);
  animation: moveInFromRight 5s ease-in-out;
}

.value {
  opacity: 0;
  animation: fadeIn .5s ease;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  overflow: hidden;
  width: 96%;
  margin: 0 auto;
}

@keyframes moveInFromRight {
  0% {
    transform: translateX(250px);
  }
  100% {
    transform: translateX(-250px);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.btn {
  width: 55px;
  height: 55px;
  font-size: 25px;
  font-weight: 100;
  border-radius: 100px;
  cursor: pointer;
  margin: 5px;
  border: none;
  outline: none;
  transform: all .6s ease;
  color: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.55) 0px 50px 100px -20px, rgba(0, 0, 0, 0.6) 0px 30px 60px -30px, rgba(10, 37, 64, 0.6) 0px -2px 6px 0px inset;
}

.btn:hover {
  transform: translateY(-.4px);
  box-shadow: rgba(50, 50, 93, 0.4) 0px 50px 100px -20px, rgba(0, 0, 0, .4) 0px 30px 60px -30px, rgba(10, 37, 64, .5) 0px -2px 6px 0px inset;
}

.btn:active {
  transform: translateY(.6px);
}

.btn--wide {
  width: 120px;
}

.bg-orange {
  background-color: #d48c2e;
}

.bg-gray {
  background-color: rgb(179, 175, 169);
}

.bg-dark {
  background-color: #4c4e4a;
}

.font-sm {
  font-size: 20px;
}

.black {
  color: #000;
}

.highlighted {
  background-color: rgb(207, 205, 205);
  color: #d48c2e;
}